exportPattern("^[[:alpha:]]+")
import(RcppAlgos)
import(IDSL.UFA)
import(Rcpp)
import(BiocManager)
import(mzR)
import(readxl)
import(parallel)
import(doSNOW)
import(foreach)
import(stringr)
import(IDSL.IPA)
import(stats)
importFrom("grDevices", "colorRampPalette", "png", "rainbow")
importFrom("graphics", "boxplot", "lines", "par", "title")
importFrom("utils", "data", "setTxtProgressBar", "txtProgressBar", "write.csv")
